# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
instance/
venv/
env/
ENV/
*.egg-info/
*.egg
*.log

# Secrets & Keys
.env
*.pem
*.key
*.crt
*.csr
.aws/

# Frontend build
node_modules/
build/
dist/

# Editor / OS
.DS_Store
Thumbs.db
.vscode/
.idea/

# Logs / caches
logs/
*.out
*.err
.cache/
coverage/
pytest_cache/
